<configuration>
	<system.webServer>
		<rewrite>
			<rules>
                <clear />
                <rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{SERVER_PORT_SECURE}" pattern="0" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{HTTP_URL}" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://127.0.0.1:12059/{R:1}" />
                </rule>
			</rules>
		</rewrite>

    <httpErrors errorMode="Custom" existingResponse="PassThrough" />
        <modules>
            <remove name="iisnode" />
        </modules>
	</system.webServer>
    <system.web>
        <sessionState mode="Off" />
    </system.web>
</configuration>
